/* Reset general */
* {
    margin: 0;
    padding: 0;
}

/* Estilo del cuerpo */
body {
    background-color: steelblue;
    color: #EEE;
    font-family: sans-serif;
    text-align: center;
}

/* Estilos para el contenedor del tablero */
#tablero {
    background-color: white;
    height: 400px;
    width: 400px;
    margin: auto;
}

/* Estilo de las celdas */
#tablero p {
    background-color: black;
    color: white;
    float: left;
    font-size: 36px;
    height: 50px;
    width: 50px;
    vertical-align: center;
}

/* Celdas negras para las filas impares */
#tablero .filaImpar p:nth-child(2n+1) {
    background-color: white;
}

/* Celdas negras para las filas pares */
#tablero .filaPar p:nth-child(2n) {
    background-color: white;
}
